body{
  background-color: rgb(0, 89, 255);
  color: rgb(163, 206, 62)
}

#resultA, #resultB, #resultC{
  display: none;
}

.clickable {
  cursor: pointer;
  color: hotpink;
  font-weight:bold;
}

.clickable:hover{
  text-decoration: underline;
}

#hide-results{
  display:none;
}

.main{
  margin-bottom: 75px;
}